html {
    background-color: #EAFAF7;
}
body {
    color: #1B1464;
    background-color: transparent;
    margin: 0;
    font-family: "Calibre Web", "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
}